/* AboutUs.css */

.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-us-header {
    text-align: center;
    margin-bottom: 30px;
}

.about-us-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about-us-header p {
    font-size: 1.2rem;
    color: #666;
}

.about-us-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.company-story,
.mission-values,
.team-members {
    background-color: rgb(191, 222, 236);
    padding: 20px;
    border: 2px;
    border-radius: 2px solid black;
}

.company-story h3,
.mission-values h3,
.team-members h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.company-story p,
.mission-values p,
.team-members p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.mission-values ul {
    list-style-type: none;
    padding: 0;
}

.mission-values ul li {
    margin-bottom: 5px;
}